[access]
	inheritFrom = All-Projects
[project]
[access "refs/for/refs/heads/*"]
	pushMerge = group Samsung Common Maintainers
[access "refs/heads/*"]
	create = group Samsung Common Maintainers
	push = +force group Samsung Common Maintainers
	pushMerge = group Samsung Common Maintainers
	label-Code-Review = -2..+2 group Samsung Common Maintainers
	label-Verified = -1..+1 group Samsung Common Maintainers
	submit = group Samsung Common Maintainers
